/*BASE*/
/*AQUÍ COMIENZA RESET SCSS*/
html {
    font-size: 62, 5%;
}

/*RESETEO*/
* {
    margin: 0;
    padding: 0;
}

/*AQUÍ COMIENZA TYPO SCSS*/
* {
    font-family: 'Sawarabi Mincho';
    text-decoration: none;
    list-style-type: none;
}

.header__header--title {
    font-family: Vidaloka;
}

.header__menu--select {
    font-family: karma;
}

.body__ordenar-por {
    font-family: karma;
}

.footer {
    font-family: karma;
}

/*COMPONENTS*/
/*AQUÍ COMIENZA BUTTONS*/
.btn__agregar-al-carrito {
    color: #1c1526;
    font-family: karma;
    background-color: #f29991;
    border-color: #1c1526;
    width: 90%;
    height: 18%;
    /*BORDE*/
    border-width: 0;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-radius: 60px;
}

.btn__agregar-al-carrito:hover {
    border-width: 0;
}

main section div button {
    position: relative;
    bottom: 15%;
}

.btn__enviar {
    padding: 0.3%;
    background-color: white;
}

/*LAYOUT*/
/*AQUÍ COMIENZA HEADER*/
.header__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 2% 0px;
}

.header__header--title {
    font-size: 275%;
}

/*LOGO*/
.header__logo {
    display: flex;
    width: 15%;
    padding-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}

/*HEADER GENERICO*/
.header__header--title-logo {
    display: flex;
    justify-content: flex-start;
    column-gap: 4%;
    align-items: center;
}

.header__header--logo {
    width: 15%;
}

.header__header--btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*LISTA NO ORDENADA DEL MENÚ*/
.header__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 4%;
}

.header__menu--select {
    font-size: 200%;
    border-radius: 5px;
    padding: 5px 15px;
}

.header__menu--select:hover {
    background-color: #f0bab5;
    border-radius: 5px;
}

/*AQUÍ COMIENZA MAIN*/
/*PÁRRAFO*/
.body__parrafo {
    line-height: 1.8;
    text-align: center;
    display: flex;
    padding: 4% 0px;
    max-width: 55%;
    margin-left: auto;
    margin-right: auto;
}

/*CARRUSEL*/

#carouselindex {
    margin-bottom: 5vw;
}

/*NOSOTROS*/

.body__image {
    max-width: 100%;
    height: auto;
}

.body__parrafo--nosotros {
    text-align: center;
    padding: 1.75% 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}

.body__h2 {
    padding-top: 1.5%;
}

.body__h3 {
    padding-top: 1.5%;
}

/*CARROUSEL NOSOTROS*/
/*HR NOSOTROS*/
.hr1 {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 30%;
    border-width: 3px;
}

.hr2 {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 16%;
    border-width: 3px;
}

/*RECIÉN LLEGADOS*/

.body__recien-llegados--titulo {
    background-color: #1c1526;
    width: 13%;
    height: 60px;
    font-size: 120%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16%;
}

.body__recien-llegados--productos {
    padding-top: 3%;
    padding-bottom: 6%;
    display: grid;
    grid-template-columns: repeat(7, 1fr)
}

.body__recien-llegados--producto {
    align-self: center;
}

#body__recien-llegados--producto {
    grid-column: 3;
}

#body__recien-llegados--producto2 {
    grid-column: 5;
}

.body__recien-llegados--imagen {
    padding-bottom: 1vw;
}

/*PRODUCTOS*/
.body__h2--productos {
    padding-left: 23%;
}

.body__ordenar-por {
    padding-top: 0.7%;
    padding-left: 23%;
}

.body__fila {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    padding-top: 3%;
}

.body__producto--img {
    width: 90%;
}

.body__producto1 {
    grid-column: 2;
    height: 60%
}

.body__producto {
    height: 60%
}

#btn__productos {
    margin-top: 4.2vw;
}

/*CONTACTO*/
.body__h2--contacto {
    font-size: 220%;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 4%;
}

.body__h3 {
    padding-bottom: 2%;
}

.body__seccion--contacto {
    padding-left: 25%;
    padding-right: 25%;
}

.body__h4 {
    text-align: center;
}

.body__seccion--seguinos {
    display: flex;
    justify-content: space-around;
    padding-top: 4%;
    padding-left: 10vw;
    padding-right: 10vw;
}

main div iframe {
    display: block;
    margin: auto;
}

/*FORMULARIO*/
/*CASCADA SCSS*/
fieldset {
    height: 90%;
    background-color: #f2999198;
    border-radius: 5px;
    border: 2px solid #1c1526;
}

legend {
    background-color: white;
    width: 20%;
}

legend h4 {
    text-align: center;
}

textarea {
    font-family: karma;
    padding: 2%;
    border-color: transparent;
    background-color: transparent;
    width: 95%;
}

.contacto__formulario {
    display: flex;
    padding-top: 5%;
    padding-bottom: 8%;
}

.contacto__formulario--tu-nombre {
    padding: 0.3%;
}

.contacto__formulario--tu-e-mail {
    padding: 0.3%;
    margin-left: 6%;
    margin-right: 6%;
}

/*PREGUNTAS FRECUENTES*/

.main__titulo {
    text-align: center;
    padding: 2% 0px;
}

.main__preguntas {
    padding: 2%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #f299917e;
    border-radius: 5px;
    border: 2px solid #1c1526;
}

section div h3 {
    padding-bottom: 3%;
}

.main__preguntas--pregunta {
    padding-bottom: 5%;
}

.main__consultas {
    text-align: center;
    padding: 5% 0px;
}

/*PIE DE PÁGINA*/

.body__pie-de-pagina {
    background-color: #1c1526;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 5%;
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
}

.body__pie-de-pagina--cuadrado {
    line-height: 2;
    text-align: center;
    width: 13%;
    padding: 3.5% 0px;
}

.body__pie-de-pagina--cuadrado-texto {
    padding-top: 1.5vw;
}

/*AQUÍ COMIENZA FOOTER*/
.footer {
    color: white;
    font-size: 113%;
    background-color: #d9ab73;
    padding: 3% 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.footer__seguinos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 2vw;
}

.footer__ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.footer__ul--preguntas-frecuentes {
    width: 10.5vw;
    border-right: 1px solid white;
    height: 2vw;
}

.footer__ul--contacto {
    width: 10.5vw;
    padding-left: 1vw;
}

#footer__productos {
    margin-top: 8%;
}

/*AQUÍ COMIENZAN MEDIA QUERIES*/
/*TABLET*/
@media only screen and (min-width:769px) and (max-width:900px) {

    /*INDEX*/
    .body__recien-llegados--titulo {
        width: 28%;
        margin-left: 6%;
    }

    .body__recien-llegados--productos {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 8%;
    }

    #body__recien-llegados--producto {
        grid-column: 2;
    }

    #body__recien-llegados--producto2 {
        grid-column: 3;
    }

    .body__pie-de-pagina {
        column-gap: 5%;
        overflow: visible;
    }

    .body__pie-de-pagina--cuadrado {
        line-height: 2;
        text-align: center;
        width: 24%;
        padding: 3.5% 0px;
    }

    /*PRODUCTOS*/

    .body__fila {
        margin-left: 20vw;
        grid-template-columns: repeat(3, 25%);
    }

    .body__producto1 {
        grid-column: 1;
    }

    #footer__productos {
        margin-top: 15%;
    }

    /*CONTACTO*/
    .body__h4 {
        padding-top: 5vw;
    }

    /*FOOTER*/
    .footer__seguinos--seguinos-en {
        font-size: 2.5vw;
    }

    .footer__ul {
        font-size: 1.75vw;
    }
}

/*TABLET*/
@media only screen and (min-width:481px) and (max-width:768px) {

    /*INDEX*/
    .header__menu {
        column-gap: 1%;
    }

    .header__menu--select {
        font-size: 20px;
    }

    .body__recien-llegados--titulo {
        width: 28%;
        margin-left: 1%
    }

    .body__recien-llegados--productos {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0.25%;
        overflow: hidden;
    }

    #body__recien-llegados--producto {
        grid-column: 1;
    }

    .body__pie-de-pagina--cuadrado {
        line-height: 2;
        text-align: center;
        width: 30%;
        padding: 3.5% 0px;
    }

    /*HEADER GENÉRICO*/

    #header__header--title2 {
        font-size: 200%;
    }

    .header__header--title-logo {
        justify-content: space-around;
        column-gap: 0;
    }

    /*PRODUCTOS*/

    .body__ordenar-por {
        padding-bottom: 5vw;
    }

    .body__fila {
        margin-left: 18vw;
        grid-template-columns: repeat(2, 45%);
        padding-top: 0px;
    }

    #body__producto1 {
        grid-column: 1;
    }

    .body__h2--productos {
        padding-left: 12%;
    }

    .body__ordenar-por {
        padding-top: 0.7%;
        padding-left: 12%;
    }

    /*CONTACTO*/
    .body__h4 {
        padding-top: 5vw;
    }

    .body__seccion--seguinos {
        display: flex;
        justify-content: space-between;
        column-gap: 20%;
        padding-top: 4%;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    #btn__productos {
        margin-top: 8vw;
    }

    #footer__productos {
        margin-top: 25%;
    }

    /*NOSOTROS*/

    #body__image--nosotros {
        padding: 3% 0px;
    }

    #footer__nosotros {
        margin-top: 10%;
    }

    /*FOOTER*/
    .footer__seguinos--seguinos-en {
        font-size: 2.5vw;
    }

    .footer__ul {
        font-size: 1.75vw;
    }
}

/*TABLET*/
@media only screen and (min-width:320px) and (max-width:480px) {

    /*INDEX*/
    .header__header--title {
        font-size: 120%;
    }

    .header__menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 0.3%;
    }

    .header__menu--select {
        font-size: 70%;
    }

    .body__parrafo {
        font-size: 118%;
    }

    .body__recien-llegados--titulo {
        width: 60%;
        height: 40px;
        margin-left: 2%;
        font-size: 100%;
    }

    .body__recien-llegados--productos {
        display: block;
    }

    #body__recien-llegados--producto {
        padding-top: 6%;
    }

    #body__recien-llegados--producto2 {
        padding-top: 10%;
    }

    .body__pie-de-pagina {
        font-size: 90%;
        display: block;
        margin: 0px;
    }

    .body__pie-de-pagina--cuadrado {
        margin: auto;
    }

    .body__pie-de-pagina--cuadrado-texto {
        font-size: 6vw;
    }

    /*HEADER GENÉRICO*/

    #header__header--title2 {
        font-size: 120%;
    }

    .header__header--title-logo {
        justify-content: space-around;
        column-gap: 0;
    }

    /*PRODUCTOS*/

    .body__fila {
        display: block;
        padding-top: 0px;
        margin-left: 15vw;
    }

    .body__ordenar-por {
        padding-top: 0.7%;
        padding-left: 12%;
    }

    .body__h2--productos {
        padding-left: 12%;
    }

    .body__producto {
        padding-top: 40%;
        height: 450px;
    }

    .body__producto1 {
        padding-top: 20%;
        height: 450px;
    }

    .btn__agregar-al-carrito {
        width: 90%;
        height: 45px;
    }

    #footer__productos {
        margin-top: 25%;
    }

    #btn__productos {
        margin-top: 25vw;
    }

    /*NOSOTROS*/

    #body__image--nosotros {
        padding: 3% 0px;
    }

    #footer__nosotros {
        margin-top: 10%;
    }

     /*CONTACTO*/
     .body__h4 {
        padding-top: 5vw;
    }

    .body__seccion--seguinos {
        column-gap: 20%;
        
    }

    iframe {
        width: auto;
    }

    legend {
        display: none;
    }

    .contacto__formulario {
        display: inline;
    }
    
    /*FOOTER*/
    .footer {
        padding: 3% 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer__seguinos--seguinos-en {
        font-size: 3.5vw;
    }

    .footer__ul {
        flex-wrap: nowrap;
        font-size: 3vw;
    }

    .footer__ul--preguntas-frecuentes {
        border-right: 1px solid transparent;
    }
}

/*AQUÍ COMIENZA LAS VARIABLES*/

* {
    color: #1c1526;
}

.header__header--title {
    color: #f5a59e;
}

.header__menu--select {
    background-color: #f5a59e;
}

.body__recien-llegados--titulo {
    color: white;
}

.body__pie-de-pagina--cuadrado {
    color: white;
}

.fa-user {
    color: #f29991;
}

.fa-cart-shopping {
    color: #f29991;
}

.fa-truck {
    color: white;
}

.fa-credit-card {
    color: white
}

.fa-heart {
    color: white
}