html {
    font-size: 62, 5%;
}

/*RESETEO*/
* {
    margin: 0;
    padding: 0;
}

/*TIPOGRAFÍA DE GOOGLE FONTS*/
* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Sawarabi Mincho', serif;
    text-decoration: none;
    list-style-type: none;
}

/*BULLETS EN LAS LISTAS ORDENADAS*/
nav ul li {
    list-style-type: none;
}

/*HEADER INDEX*/
.header__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: #f29991;
    padding-left: 445px;
    padding-right: 445px;
    padding-top: 45px;
    padding-bottom: 25px;
}

.header__header--title {
    font-family: Vidaloka;
    font-size: 40px;
}

/*LOGO*/
.header__logo {
    /*POR QUÉ NO QUEDA CENTRADO EL LOGO?*/
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 550px;
    margin-right: 550px;
}

/*HEADER GENERICO*/
.header__header--title-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__header--logo {
    padding-right: 20px;
}

.header__header--btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

/*AQUÍ COMIENZA LA LISTA NO ORDENADA DEL MENÚ*/
.header__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 550px;
    margin-right: 550px;
}

.header__menu--select {

    color: #1c1526;
    background-color: #f29991;
    font-size: 25px;
    font-family: karma;
    border-radius: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header__menu--select:hover {
    background-color: #f5a59e;
    border-radius: 5px;
}

/*PÁRRAFO*/
.body__parrafo {
    color: #1c1526;
    line-height: 1.8;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
    margin-left: 550px;
    margin-right: 550px;
}

/*TEXTO NOSOTROS*/
.body__h2 {
    color: #1c1526;
    padding-bottom: 40px;
}

.body__h3 {
    color: #1c1526;
    padding-bottom: 40px;
}

/*RECIÉN LLEGADOS*/
.body__recien-llegados {
    padding-top: 80px;
    padding-bottom: 75px;
}

.body__recien-llegados--titulo {
    color: white;
    background-color: #1c1526;
    width: 200px;
    height: 60px;
    font-size: 22px;
    text-align: center;
    padding: 0;
    padding-top: 22px;
    display: block;
    margin-left: 445px;
    margin-right: 445px;
}

.body__recien-llegados--productos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 550px;
    margin-right: 550px;
}

.body__recien-llegados--producto {
    padding: 0%;
    padding-top: 40px;
    display: block;

}

.btn__agregar-al-carrito {
    color: #1c1526;
    font-family: karma;
    background-color: #f29991;
    border-width: 0;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-radius: 60px;
    border-color: #1c1526;
    padding: 0%;
    width: 300px;
    height: 50px;
}

/*IMAGEN NOSOTROS*/
.body__image {
    border-radius: 60px;
    margin-left: 445px;
    margin-right: 445px;
}

.btn__agregar-al-carrito:hover {
    border-width: 0;
}

/*PRODUCTOS*/
.body__h2--productos {
    margin-left: 445px;
    margin-right: 445px;
}

.body__ordenar-por {
    font-family: karma;
    padding-top: 10px;
    margin-left: 445px;
    margin-right: 445px;
}

main {
    padding-top: 60px;
    padding-bottom: 80px;
    margin-left: 490px;
    margin-right: 490px;
}

.body__fila {
    display: grid;
    grid-template-columns: repeat(3, 335px);
    padding-top: 15px;
}

.body__producto--etiqueta {
    /*TERMINAR HOVER FEATURE (TEXTO Y FONDO SEMITRANSPARENTE APARECE SOBRE IMAGEN CUANDO PASA EL MOUSE)*/
    position: relative;
    bottom: 230px;
    left: 90px;
    overflow: hidden;
    display: block;
}

main section div button {
    position: relative;
    bottom: 45px;
}

/*CONTACTO*/
.body__h2--contacto {
    color: #1c1526;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 45px;
}

.body__seccion-contacto {
    margin-right: 600px;
    margin-left: 600px;
}

/*PIE DE PÁGINA*/
.body__pie-de-pagina {
    color: white;
    background-color: #1c1526;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 600px;
    padding-right: 600px;
}

.body__pie-de-pagina--cuadrado {
    display: block;
    line-height: 2;
    text-align: center;

}

/*FOOTER*/
.footer {
    color: white;
    font-family: karma;
    font-size: 18px;
    background-color: #d9ab73;
    padding-left: 445px;
    padding-right: 445px;
    padding-top: 40px;
    padding-bottom: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.footer__seguinos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.footer__seguinos--seguinos-en {
    width: 105px;
}

.footer__ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.footer__ul--preguntas-frecuentes {
    width: 200px;
    border-right: 1px solid white;
    height: 30px;
}

.footer__ul--contacto {
    width: 100px;
    padding-left: 13px;
}