* {
    font-family: 'Sawarabi Mincho';
    text-decoration: none;
    list-style-type: none;
}

.header__header--title {
    font-family: Vidaloka;
}

.header__menu--select {
    font-family: karma;
}

.body__ordenar-por {
    font-family: karma;
}

.footer {
    font-family: karma;
}
