/*FOOTER*/

.footer {
    color: white;
    font-family: karma;
    font-size: 113%;
    background-color: #d9ab73;
    padding: 3% 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.footer__seguinos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.footer__seguinos--seguinos-en {
    width: 105px;
}

.footer__ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.footer__ul--preguntas-frecuentes {
    width: 200px;
    border-right: 1px solid white;
    height: 30px;
}

.footer__ul--contacto {
    width: 100px;
    padding-left: 13px;
}

#footer__productos {
    margin-top: 8%;
}